*{
    padding: 0;
    margin: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: gray;
}
.container{
    background-color: white;
    padding: 2rem;
    border-radius: 2rem;
    height: 50vh;
    width: 30vw;
}
form{
    padding: 2rem 0 1rem 0;
}
form select,button,input{
    width: 100%;
    border: none;
    outline: none;
    border-radius: 0.75rem;
}
form input{
    border: 2px solid lightgrey;
    height: 2rem;
    font-size: 1rem;
    padding-left: 10px;
}
.dropdown{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.5rem;
}
.dropdown i{
    font-size: 1.5rem;
    margin-top: 2rem;
}
.select-container img{
    max-width: 2rem;
}
.select-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6rem;
    border-radius: 1rem;
    border: 1px solid lightgrey;
    object-fit: contain;
}
.select-container select{
    font-size: 1rem;
    width: auto;
}
.msg{
    font-size: 1rem;
    margin: 2rem 0 2rem 0;
}
form button{
    height: 3rem;
    background-color: purple;
    color: white;
    font-size: 1.15rem;
    cursor: pointer;
}